html, body {
  padding: 0;
  margin: 0;
}

body {
  color: #6C2700;
  background-image: url(../img/header_back.png);
}


/**
 * header
 */
header {
  height: 150px;
}
header h1 {
  margin: 0;
  line-height: 150px;
}
header h1 img {
  width: 300px;
}


/**
 * section共通設定
 */
.container section {
  margin-bottom: 40px;
}

.container section h1 {
  margin: 0 0 20px;
  font-weight: lighter;
}



/**
 * sidebar
 */
.sensu-sidebar {
}

.sensu-sidebar.affix {
  position: fixed;
  top: 20px;
}

.sensu-sidebar h1 img {
  margin: 0 auto;
  display: block;
  width: 80%;
}

.sensu-sidebar .nav>.active:focus>a,
.sensu-sidebar .nav>.active:hover>a,
.sensu-sidebar .nav>.active>a {
  font-weight: 700;
}

/* サブセクションのスタイル(scrollspy用) */
.sensu-sidebar .nav .nav>li>a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
}

/* 非アクティブのサブセクションを隠す(scrollspy用) */
.sensu-sidebar .nav .nav {
  display: none;
  padding-bottom: 10px
}

/* アクティブのサブセクションを表示(scrollspy用) */
.sensu-sidebar .nav>.active>ul {
  display: block
}

/* テストのための高さスタイル */
.sensu-moderate-height {
  line-height: 100px;
  outline: 1px solid blue;
}


/**
 * main content
 */
#main-content {
}

#main-content
canvas {
  margin: 0 auto;
  width: 100%;
  max-width: 950px;
  box-shadow: 0 0 20px #CCC;
}
