doctype html
html
  head
    meta(charset="utf-8")
    title sensu demo
    meta(content="sensu demo", name="description")
    // CSS
    link(href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css", rel="stylesheet")
    link(href="./css/demo.css", rel="stylesheet")
    // JS
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="https://code.createjs.com/createjs-2015.05.21.min.js")
  body
    h1 Sensu
    canvas#sensu
    // sensu
    script(defer, src="../sensu.jquery.js")
    // demo
    script(type="text/javascript").
      $(window).load(function(){
        $('#sensu').sensu({
          hoge: 'hoge'
        });
      });
